# Build artifacts
mod.cfg
temp
build
cache
/out

# Editor files
/logs
/editor

# Original game data
src
raw
/audio/**/*.*
!/audio/**/*.xml
/image/**/*.*
!/image/**/*.xml
/battle/**/*.*
/strings/**/*.*

# Altered Files
!/strings/patch/*.*
!/audio/bgm/81_318.bgm
!/audio/bgm/2F_104.bgm
!/audio/bgm/31_105.bgm
!/image/bg/title_bg.png
!/image/compressed/title_1.png